<!DOCTYPE html>
<html>
  <head>
    <title>Tierra</title>
      <!-- Primer css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
	<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	<!-- Segundo css -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


      
    <!-- Javascripts  -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
	<!-- fuentes apis -->
	<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script>   $(document).ready(function(){
      $('.carousel').carousel();
    });
        </script>
  


    </head>

  <body>
  





  


    <%= yield %>
  </body>

</html>
